/* Define basic styles (fonts, colors) for HTML elements */ 

body {
    font-family: 'Open Sans', Arial, sans-serif;
        color: #000;
}	


 h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
}


/*Match header sizes to Library Website. Using ems here to match ASpace */
h1 {
    font-size: 2.1em;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}

h2 {
    font-size: 1.7em;
    font-weight: 200;
}


h3 {
    font-size: 1.4em;
    font-weight: 200;
}


h4 {
    font-size: 1.3em;
    font-weight: 400;
}


h5 {
    font-size: 1.1em;
    font-weight: 600;
}


h6 {
    font-size: 1em;
    font-weight: 700;
}

 /*Set links to correct blue*/
 a {
    color: #2f7ab9; /* BC link color */
}

/*Make sure we have good contrast for inifinite tree view links*/
.infinite-tree-view a.record-title {
    color: #2C71AA;
}

/* Style skip-nav */
.skipnav .sr-only {
    background-color: #fff;
    padding: .25rem;
    z-index: 100;
}


/*Style for Burns header - can't use regaular h color on modified header row*/
.header-title, .header-title a {
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: .25rem 0;
}

/*Set header color to Library black, reduce height and remove blue lower border*/
#header > .row {
    background-color: rgba(16,14,15,0.85);
    padding-left: 0px;
    border-bottom: none;
    height: 2.5rem;
}

/*Match navbar to header color, remove borders*/
.top-bar {
    background-color: rgba(16,14,15,0.85) !important;
    border-top: none;
    border-bottom: none;
}

/*Need white color for navbar, as Library header color has transparency*/
.navbar-default {
    background-color: #fff;
    border: none;
    }

/*Get rid of pesky borders on different navbar states*/
.navbar-default .navbar-collapse, .navbar-default, .navbar-form {
    border-color: rgba(16,14,15,0.85);
}


/* Set nav link color*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*Match libweb blue background higlight on hover for menu items*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #05506d !important;
    color: #fff;
    outline: 0;
    text-decoration: none;
}

/*Change color of navbar menu toggle*/
.navbar-default .navbar-toggle {
   border-color: #fff; 
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/*These are CSS overrides for the buttons*/
.btn-primary {
    background-color: #8a100b;
    color: #fff;
    border-color: #8a100b;
}

.btn-primary:disabled {
    background-color: #8a100b;
}

.btn-primary:hover {
    background-color: #b30000;
    color: #dccaa0;
    text-decoration: none;
}

.btn-primary a {
	color:#fff;
}

.btn-primary a:hover {
color:#dccaa0;
}


/*Pagination button highlight and link color*/

 .pagination > li > a {
        color:  #2f7ab9
    }


 .pagination > .active > a {
        background-color: #8a100b;
        border-color: #ddd;
    }

 .pagination > .active > a:hover {
        background-color: #b30000;
        color: #dccaa0;
        border-color: #ddd;
        text-decoration: none;
    }


/*Tab pills for Collection overview and organziation*/

 .tabbing.nav-pills > li > a {
	background-color: #000;
    }
.tabbing.nav-pills > li > a.active{
    background-color: #333;
    }


/*Set the labels font closer to bc font and weight*/
   .record-type-badge, .identifier .id-label, .inline-label {
	  font-family: 'Open Sans Condensed',Helvetica,Arial,sans-serif;
	  font-weight: 600;
  }


/*Make record type colors bc and accessible*/

 .record-type-badge.resource, .record-type-top_container {
	 color: #8a6b46;
	 border-color: #8a6b46;
 }

 .record-type-badge.digital_object, .record-type-badge.accession, .record-type-badge.archival_object {
         color: #8a100b;
         border-color: #8a100b;
 }

 .record-type-badge.agent, .record-type-badge.classification, .record-type-badge.repository, .record-type-badge.subject {
         color: #726158;
         border-color: #726158;
 }


 /*Make the badge icons more prominent*/

 .record-type-badge i {
	 font-size: 20px;
	 vertical-align: middle;
 }


/*Set footer color to white*/
.panel-footer {
    background-color: #fff;
}

  

/*Modifications to Digital Object thumbnail and caption*/


/*Fit frame to objectimage*/
.thumbnail {
    margin-bottom: 0px;
}

/* Remove whitespace around obyect image, move to left, adjust margins */
.objectimage {
    width: auto;
    float: none;
    margin: 1rem 0 0 0;
}

/* restyle thumbnail image div on smaller screens */
@media (max-width: 767px) {
    .objectimage {
        width: 33%;
        margin: 0 auto;
    }
}

@media (max-width: 424px) {
    .objectimage {
        width: 100%;
        margin: 0 auto;
    }
}


/*Override style to allow panel to be displayed within anchor tag*/
.panel-link {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #004f6f;
    text-align: center;
    background-color: #f5f5f5;
    border-color: #ddd;
}

/*Prevent the accompanying text from wrapping under image*/
.upper-record-details {
 overflow: hidden;
}

/* Library Hours Weekly Widget*/
.s-lc-whw thead { background-color: #8a100b; }
.s-lc-whw-head-date { color: #ffffff; }
.s-lc-whw-today-h {  background-color: #DCB8A0; color:#000}
.s-lc-whw-today { background-color: #DCB8A0; color:#000}
.s-lc-whw-bh { text-align: right; white-space: nowrap; }
.s-lc-whw-locname { font-weight: bold; font-size: 14px;}
.s-lc-whw-locname > a {color:#fff; text-decoration: underline;}
.s-lc-whw-sublocname{ padding-left: 10px!important; }
tr.s-lc-whw-loc.s-lc-whw-loc-tr-507.s-lc-whw-libbg-507:hover{ background-color: #8a100b;}
.s-lc-whw-footnote { color: #555; font-size: 80%; }
.s-lc-whw-footnote td:hover { background: color #fff!important;}
/* Below styles can be removed if you are already using Bootstap v3 in host page */
.s-lc-whw-cont {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; background-color: #8a100b; color:#fff}
.s-lc-whw-pr, .s-lc-whw-ne{ padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; color: #333; background-color: #fff; border-color: #ccc; display: none; margin-bottom: 0; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; }
.s-lc-whw-pr:disabled { background-color: #efefef; }
.s-lc-whw-ne:disabled { background-color: #efefef; }
.s-lc-whw { width: 100%; margin-bottom: 20px; max-width: 100%; background-color: transparent; border-bottom: none; border-left: none; border-collapse: collapse; border-spacing: 0; }
.s-lc-whw>tbody>tr>td { padding: 5px; }
.s-lc-whw>thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 5px;}
.s-lc-whw th { border-top: none; border-bottom: none; border-right: none;}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
@media (max-width: 768px) {
   .s-lc-whw-cont .table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; overflow-x: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; -webkit-overflow-scrolling: touch; }
   .s-lc-whw td { white-space: nowrap; }
}


/*Section for collection overview customizations */

/* add right margin to request button */
.infinite-item {
  margin-right: 20px;
}

/*Add prefix string to breadcrumbs found on record pages*/
.breadcrumb>li+li::before {
    content: none;
}
.breadcrumb>li.breadcrumb-item+li.breadcrumb-item::before {
    color: #00171f;
    content: '\007C\00a0';
}

/*Welcome page */
form#advanced_search {
    padding-bottom: 2rem;
}

/*Header height adjustment to avoid text clipping on mobile */
#header > .row {
    height: auto;
}

/* Repository Details Icons */
.resource{
    color:#000;
}
.agent{
    color:#000;
}
.digital_object{
    color:#000;
}