<%#
  # most recent file version: v3.4.0
  # https://github.com/archivesspace/archivesspace/blob/v3.4.0/public/app/views/shared/_header.html.erb
%>

<%# BEGIN BC EDIT - include custom BC header to top of page %>
<%= render partial: 'shared/boston_college_header' %>
<%# END BC EDIT %>

<section id="header">
  <div class="row">
    <div class="col-sm-9">
      <%# BEGIN BC EDIT - Add H1 tag to core application template. %>
      <h1 class="header-title">
        <% unless request.original_fullpath == '/' %>
          <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>">
        <% end %>
        <%= t('brand.title') %>
        <% unless request.original_fullpath == '/' %>
          </a>
        <% end %>
      </h1>
      <%# END BC EDIT %>
    </div>
  </div>
</section>
