<%= render partial: 'shared/boston_college_header' %>

<section  id="header">
  <div class="row">
    <div class="col-sm-9">
      <span class="header-title">
        <% unless request.original_fullpath == '/' %>
          <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>">
        <% end %>
        <%= t('brand.title') %>
        <% unless request.original_fullpath == '/' %>
          </a>
        <% end %>
      </span>
    </div>
  </div>
</section>
