<%#
  # most recent file version: v3.2.0
  # https://github.com/archivesspace/archivesspace/blob/v3.2.0/public/app/views/resources/_linked_digital_objects.html.erb
%>

<ul>
  <% digital_objects.each do |uri, digital_object| %>
    <li>
      <%# BEGIN BC EDIT - allow link title to render html elements %>
      <%= link_to digital_object.display_string.html_safe, app_prefix(uri) %>
      <%# END BC EDIT %>
    </li>
  <% end %>
</ul>
