<%#
  # most recent file version: v3.4.0
  # https://github.com/archivesspace/archivesspace/blob/v3.4.0/public/app/views/welcome/show.html.erb
%>
<%# BEGIN BC EDIT - Libcal Hours Widget scripts%>
<%# Remove calendar widget for now
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> 
<script src="https://libcal.bc.edu/js/hours_month.js?002"></script> 

  <script>
    $(function(){ 
      var s_lc_mhw_609_507 = new $.LibCalHoursCal( $("#s_lc_mhw_609_507"), { iid: 609, lid: 507, months: 3, systemTime: true }); 
    });
  </script> 
  %>
<%# END BC EDIT%>

<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <%# BEGIN BC EDIT - move welcome message below search form and add introductory blurb %>
      <div> <%#= t('brand.welcome_message').html_safe %> </div>
      <div><%= t('brand.welcome_blurb').html_safe %></div>
      <%# END BC EDIT %>
  </div>
</div>

    <%# BEGIN BC EDIT - remove title and subject_text from search dropdown %>
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
           #["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           #["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>
    <%# END BC EDIT %>

<%# BEGIN BC EDIT - add accordion panels to show Repo details%>
<div class="acc_holder clear" >
  <div class="panel-group" id="res_accordion">
    <% unless @repo_info.blank? || @repo_info['top']['name'].blank? %>
    <% x = render partial: 'repositories/repository_details'%>
    <% render partial: 'shared/accordion_panel', locals: {
      :p_title => t('repository.details'), 
      :p_id => 'repo_deets', 
      :p_body => x
      } %>
      <% end %>
  </div>
</div>
<%# END BC EDIT%>

<%# BEGIN BC EDIT - add library hours from libcal API%>
<%# Remove Calendar for now
<div class="row">
  <div class="col-sm-12">
    <h3>t('brand.welcome_hours')</h3>
  </div>
</div>
<div id="s_lc_mhw_609_507"></div>  
END BC EDIT%>

    <% ASUtils.find_local_directories('public/views/_welcome_addition.html.erb').each do |template| %> 
        <%= render(:file => template, :locals => {:record => record}) if File.exists?(template) %>
    <% end %>