<%#
  # most recent file version: v3.2.0
  # https://github.com/archivesspace/archivesspace/blob/v3.2.0/frontend/app/views/site/_branding.html.erb
%>

<div class="container-fluid navbar-branding">
  <img class="logo img-responsive" src="/assets/images/logo-test.png" alt="ArchivesSpace test">
</div>
