<%#
  # most recent file version: v3.4.0
  # https://github.com/archivesspace/archivesspace/blob/v3.4.0/frontend/app/views/site/_branding.html.erb
%>

<div class="container-fluid navbar-branding">
  <%= image_tag asset_path(AppConfig[:frontend_branding_img]), :class =>"header-logo", :alt => AppConfig[:frontend_branding_img_alt_text]  %>
</div>